{% extends 'stockify/base.html' %}
{% block content %}
<p>Stockify Table</p>
{{stockDate}}
<table border="1">
	<tr>
		<th>Stock</th>
		<th>RSI</th>
		<th>OBV</th>
		<th>rank RSI</th>
		<th>rank OBV</th>
		<th>rank Sum</th>
	</tr>
	{% for name, rsi, obv, rank1, rank2, rank3 in myItems %}
		<tr>
			<th>{{name}}</th>
			<th>{{rsi}}</th>
			<th>{{obv}}</th>
			<th>{{rank1}}</th>
			<th>{{rank2}}</th>
			<th>{{rank3}}</th>
		</tr>
	{% endfor %}
</table>
<a href="{% url 'Welcome' %}"><button>Back</button></a>
{% endblock %}